<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic Treatment History System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/signincss.css'%}">
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block scripts %}
    {% endblock %}
    {% block style %}
    {% endblock %}
    <style>
        .bg-light {
            background-color: #bde4e2 !important;
        }

        .disable {
            pointer-events: none;
            cursor: default;
            color: gray;
        }
    </style>
    


</head>


<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Clinic Treatment History</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01"
            aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample01" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">My Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">SignOut</a>
                </li>
            </ul>
        </div>
    </nav>
    {% if user.is_authenticated %}
    {% include 'sidebar.html' %}
    {% endif %}

    {% block content %}
    {% endblock %}


    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                {% block footer %}
                {% endblock %}
            </span>
        </div>
    </footer>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()

        
    </script>


</body>

</html>