<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic Treatment History System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/signincss.css'%}">
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</head>

<body>
      
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                {% block footer %}
                {% endblock %}
            </span>
        </div>
    </footer>

</body>

</html>