{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if message.tags == 'error' %}danger {% else %}{{message.tags}} {% endif %}
                alert-dismissible fade show" role="alert">
    <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}</strong>
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

{% endif %}