{% extends "base.html" %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% endblock %}

{% block styles %}
{% endblock %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <div class="container">
        <!-- topic and filter option -->
        <div class="row mb-3 mt-3">
            <div class="col-lg-3">
                <h1>OVERVIEW</h1>
            </div>
            <div class="col-lg-8 mt-3">
                <div class="row">
                    <div class="mr-3">
                        ช่วงที่ต้องการค้นหา :
                    </div>

                    <div id="reportrange"
                        style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 38%">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="form-check form-check-inline ml-3">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">อาการ</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">ลักษณะผู้ป่วย</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                        <label class="form-check-label" for="inlineCheckbox3">เทรน</label>
                    </div>

                </div>
            </div>
        </div>
        <hr>
        <!-- status -->
        <div class="row mt-5">
            <div class="col-lg-3 m-auto">
                <div class="card text-white m-auto bg-success" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">รักษาไปเเล้ว</h5>
                        <h6 class="card-subtitle mb-2">Recovery</h6>
                        <h1 class="card-text">200</h1>

                    </div>
                </div>
            </div>
            <div class="col-lg-3  m-auto">
                <div class="card text-white m-auto bg-danger" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">ผู้ป่วยฉุกเฉิน</h5>
                        <h6 class="card-subtitle mb-2">Emergency</h6>
                        <h1 class="card-text">200</h1>

                    </div>
                </div>
            </div>
            <div class="col-lg-3  m-auto">
                <div class="card text-white m-auto bg-info" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">จำนวนผู้ป่วย</h5>
                        <h6 class="card-subtitle mb-2">Patient</h6>
                        <h1 class="card-text">200</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- graph -->
        <div class="row mt-5">
            <div class="col-lg-6">
                <canvas id="linechart"></canvas>
            </div>
            <div class="col-lg-6">
                <canvas id="piechart"></canvas>
            </div>


        </div>
        <!-- table -->
        <div class="row">
            <h1>ข้อมูลที่พบ</h1>
            <hr>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Header</th>
                      <th>Header</th>
                      <th>Header</th>
                      <th>Header</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1,001</td>
                      <td>Lorem</td>
                      <td>ipsum</td>
                      <td>dolor</td>
                      <td>sit</td>
                    </tr>
                    <tr>
                      <td>1,002</td>
                      <td>amet</td>
                      <td>consectetur</td>
                      <td>adipiscing</td>
                      <td>elit</td>
                    </tr>
                    <tr>
                      <td>1,003</td>
                      <td>Integer</td>
                      <td>nec</td>
                      <td>odio</td>
                      <td>Praesent</td>
                    </tr>
                    <tr>
                      <td>1,003</td>
                      <td>libero</td>
                      <td>Sed</td>
                      <td>cursus</td>
                      <td>ante</td>
                    </tr>
                    <tr>
                      <td>1,004</td>
                      <td>dapibus</td>
                      <td>diam</td>
                      <td>Sed</td>
                      <td>nisi</td>
                    </tr>
                    <tr>
                      <td>1,005</td>
                      <td>Nulla</td>
                      <td>quis</td>
                      <td>sem</td>
                      <td>at</td>
                    </tr>
                    <tr>
                      <td>1,006</td>
                      <td>nibh</td>
                      <td>elementum</td>
                      <td>imperdiet</td>
                      <td>Duis</td>
                    </tr>
                    <tr>
                      <td>1,007</td>
                      <td>sagittis</td>
                      <td>ipsum</td>
                      <td>Praesent</td>
                      <td>mauris</td>
                    </tr>
                    <tr>
                      <td>1,008</td>
                      <td>Fusce</td>
                      <td>nec</td>
                      <td>tellus</td>
                      <td>sed</td>
                    </tr>
                    <tr>
                      <td>1,009</td>
                      <td>augue</td>
                      <td>semper</td>
                      <td>porta</td>
                      <td>Mauris</td>
                    </tr>
                    <tr>
                      <td>1,010</td>
                      <td>massa</td>
                      <td>Vestibulum</td>
                      <td>lacinia</td>
                      <td>arcu</td>
                    </tr>
                    <tr>
                      <td>1,011</td>
                      <td>eget</td>
                      <td>nulla</td>
                      <td>Class</td>
                      <td>aptent</td>
                    </tr>
                    <tr>
                      <td>1,012</td>
                      <td>taciti</td>
                      <td>sociosqu</td>
                      <td>ad</td>
                      <td>litora</td>
                    </tr>
                    <tr>
                      <td>1,013</td>
                      <td>torquent</td>
                      <td>per</td>
                      <td>conubia</td>
                      <td>nostra</td>
                    </tr>
                    <tr>
                      <td>1,014</td>
                      <td>per</td>
                      <td>inceptos</td>
                      <td>himenaeos</td>
                      <td>Curabitur</td>
                    </tr>
                    <tr>
                      <td>1,015</td>
                      <td>sodales</td>
                      <td>ligula</td>
                      <td>in</td>
                      <td>libero</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </div>

</main>


{% endblock %}

{% block footer %}
<script>
    var colors = ['#007bff','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'];
    var ctxpie = document.getElementById('piechart').getContext('2d');
    var myDoughnutChart = new Chart(ctxpie, {
        type: 'doughnut',
        data: {
            labels: ['Bootstrap', 'Popper', 'Other'],
            datasets: [
                {
                    backgroundColor: colors.slice(0, 3),
                    borderWidth: 0,
                    data: [74, 11, 40]
                }
            ]
        },
        options: {
            legend: {
                display: true,
                position: 'bottom',

            }
        }
    });

    var ctx = document.getElementById('linechart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]
            },
            {
                label: 'My Second dataset',
                borderColor: 'rgb(90, 99, 132)',
                data: [1, 40, 7, 5, 30, 40, 30]
            }
            ]
        },

        // Configuration options go here
        options: {
            legend: {
                display: true,
                position: 'bottom',

            }
        }
    });
</script>
<script type="text/javascript">
    $(function () {

        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }

        $('#reportrange').daterangepicker({

            startDate: start,
            endDate: end,
            ranges: {
                'วันนี้': [moment(), moment()],
                'เมื่อวาน': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'This Year': [moment().startOf('year'), moment().endOf('year')],
            },
            "alwaysShowCalendars": true,
        }, cb);

        cb(start, end);

    });
</script>

{% endblock %}