{% extends "base.html" %}
{% load static %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <div class="container">
        <!-- topic and filter option -->
        <div class="row mb-4 mt-4">
            <div class="col-lg-3">
                <h1>OVERVIEW</h1>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    fileter
                </div>
            </div>
        </div>
        <!-- status -->
        <div class="row">
            <div class="col-lg-3 m-auto">
                <div class="card text-white bg-success" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">รักษาไปเเล้ว</h5>
                      <h6 class="card-subtitle mb-2">Recovery</h6>
                      <h1 class="card-text" >200</h1>
              
                    </div>
                  </div>
            </div>
            <div class="col-lg-3  m-auto">
                <div class="card text-white bg-danger" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">ผู้ป่วยฉุกเฉิน</h5>
                      <h6 class="card-subtitle mb-2">Emergency</h6>
                      <h1 class="card-text">200</h1>

                    </div>
                  </div>
            </div>
            <div class="col-lg-3  m-auto">
                <div class="card text-white bg-info" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">จำนวนผู้ป่วย</h5>
                      <h6 class="card-subtitle mb-2">Patient</h6>
                      <h1 class="card-text">200</h1>
                    </div>
                  </div>
            </div>
        </div>
        <!-- graph -->
        <div class="row">

        </div>
        <!-- table -->
        <div class="row"></div>
    </div>

</main>

{% endblock %}

{% block footer %}

{% endblock %}






