{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% endblock %}

{% block styles %}
{% endblock %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10" id='app'>
  <div class="container">
    <!-- topic and filter option -->
    <div class="row mb-3 mt-3">
      <div class="col-lg-3">
        <h1>OVERVIEW</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h5>ตัวกรองการค้นหา</h5>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="input-group mb-3">
          <!-- <div class="input-group-append">
            <label class="input-group-text" for="keyword">ค้นหาตามคำค้น</label>
          </div>

          <div class="input-group-append">
            <select v-model="selected" class="custom-select" >
              <option v-for="option in options" v-bind:value="option.value">
                [[ option.text ]]
              </option>
            </select>
          </div> -->

          <div class="input-group-append">
            <label class="input-group-text" for="duration">ค้นหาตามช่วงเวลา</label>
          </div>



          <div class="input-group-append">
            <input v-model='start_date' type="date" class="form-control">
          </div>
          <div class="input-group-append">

          </div>
          <label class="input-group-text">ถึง</label>
          <div class="input-group-append">
            <input v-model='end_date' type="date" class="form-control">
          </div>
          <div class="input-group-append">
            <button class="btn btn-info" type="button" id="button-addon2"
              v-on:click.prevent='get_overview()'>ค้นหา</button>
          </div>

        </div>
      </div>
    </div>
    <hr>
    <!-- status -->
    <div class="row mt-5">
      <div class="col-lg-3 m-auto">
        <div class="card text-white m-auto bg-success" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">รักษาไปเเล้ว</h5>
            <h6 class="card-subtitle mb-2">Recovery</h6>
            <h1 class="card-text">[[ sum_case ]]</h1>

          </div>
        </div>
      </div>
      <div class="col-lg-3  m-auto">
        <div class="card text-white m-auto bg-danger" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">จำนวนสูงสุด</h5>
            <h6 class="card-subtitle mb-2">Max Case</h6>
            <h1 class="card-text">[[ sum_danger_case ]]</h1>

          </div>
        </div>
      </div>
      <div class="col-lg-3  m-auto">
        <div class="card text-white m-auto bg-info" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">จำนวนผู้ป่วย</h5>
            <h6 class="card-subtitle mb-2">Patient</h6>
            <h1 class="card-text">[[ sum_patient ]]</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- graph -->
    <div class="row mt-5">
      <div class="col-lg-6">
        <canvas id="linechart"></canvas>
      </div>
      <div class="col-lg-6">
        <canvas id="piechart" v-if='overview_dataset'></canvas>
      </div>


    </div>
    <!-- table -->

  </div>

</main>


{% endblock %}

{% block footer %}
<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
      sum_case: 0,
      sum_danger_case: 0,
      sum_patient: 0,
      overview: [],
      pateint_data: [],
      overview_dataset: [],
      selected: 'non_form',
      options: [
        { text: 'ทั่วไป', value: 'non_form' },
        { text: 'ผิวหนัง', value: 'skin' },
        { text: 'อุบัติเหตุ', value: 'accident' },
        { text: 'อุบัติเหตุต่อเนื่อง', value: 'con_accident' },
        { text: 'ดวงตา', value: 'eyes' },
        { text: 'อาการไข้', value: 'fever' },
        { text: 'ท้องเสีย', value: 'diarrhea' },
        { text: 'อาการปวดทุกเเห่ง', value: 'pain' }
      ],
      start_date: '2020-01-01',
      end_date: '2020-04-29'

    }, methods: {
      get_overview: function () {
        let self = this;
        axios.get('/summary/report/type_api', {
          params: {
            start_date: self.start_date,
            end_date: self.end_date
          }

        }).then(function (response) {
          console.log(response.data);
          self.overview = response.data
          self.sum_case = 0
          self.sum_danger_case = 0
          self.overview_dataset = []
          self.overview.forEach(element => {
            self.overview_dataset.push(element.p_count)
            self.sum_case = self.sum_case + element.p_count
            if (element.p_count > self.sum_danger_case) {
              self.sum_danger_case = element.p_count
            }
          });
          self.get_patient()
          
          setTimeout(create_bar, 500);
          setTimeout(create_pie, 500);

        }).catch(function (error) {
          console.log(error);
        });
      }, get_patient: function () {
        let self = this;
        axios.get('/summary/report/patient_api/', {
          params: {
            start_date: self.start_date,
            end_date: self.end_date
          }

        }).then(function (response) {
          console.log(response.data);
          self.pateint_data = response.data
          self.sum_patient = self.pateint_data.length


        }).catch(function (error) {
          console.log(error);
        });
      }
    }, created() {
      this.get_overview()
      this.get_patient()

    }
  })

  var colors = ['#007bff', '#28a745', '#333333', '#c3e6cb', '#20c997', '#6c757d', '#ffc107', '#28a745'];
  var ctxpie = document.getElementById('piechart').getContext('2d');

  setTimeout(create_pie, 500);
  setTimeout(create_bar, 500);
  function create_pie() {
    var myDoughnutChart = new Chart(ctxpie, {
      type: 'pie',
      data: {
        labels: ['ทัวไป', 'ผิวหนัง', 'อุบัติเหตุ', 'อุบัติเหตุต่อเนื่อง', 'ดวงตา', 'อาการไข้', 'ท้องเสีย/ปวดท้อง', 'อาการปวดนอกเหนือ'],
        datasets: [
          {
            backgroundColor: colors.slice(0, 8),
            borderWidth: 0,
            data: app.overview_dataset
          }
        ]
      },
      options: {
        legend: {
          display: true,
          position: 'bottom',

        }
      }
    });

  }

  function create_bar(){
    var ctx = document.getElementById('linechart').getContext('2d');
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
      labels: ['ทัวไป', 'ผิวหนัง', 'อุบัติเหตุ', 'อุบัติเหตุต่อเนื่อง', 'ดวงตา', 'อาการไข้', 'ท้องเสีย/ปวดท้อง', 'อาการปวดนอกเหนือ'],
      datasets: [{
        backgroundColor: colors.slice(0, 8),
        label: 'ประเภทการรักษา',
        borderColor: 'rgb(255, 99, 132)',
        data: app.overview_dataset
      }
      ]
    },

    // Configuration options go here
    options: {
      legend: {
        display: true,
        position: 'bottom',

      }
    }
  });
  }
  
</script>


{% endblock %}