{% extends 'base.html' %}
{% block content %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% endblock %}

{% block styles %}
{% endblock %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">

  <div class="container">

    <!-- topic and filter option -->
    <div class="row mb-3 mt-3">
      <div class="col-lg-3">
        <h1>เพิ่มยาใหม่</h1>
      </div>
    </div>
    <hr>
    <!-- from -->
    <div class="row">

      <hr>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th class="table-dark">ลำดับ</th>
              <th class="table-dark">รหัสมาตรฐาน 24 หลัก</th>
              <th class="table-dark">ชื่อยา</th>
              <th class="table-dark">จำนวน</th>
              <th class="table-dark">รายละเอียด</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>100942000001010110181</td>
              <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
              <td>10</td>
              <td>@</td>
            </tr>
            <tr>
              <td>2</td>
              <td>100942000001010110181</td>
              <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
              <td>10</td>
              <td>@</td>
            </tr>
            <tr>
              <td>3</td>
              <td>100942000001010110181</td>
              <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
              <td>10</td>
              <td>@</td>
            </tr>
            <tr>
              <td>4</td>
              <td>100942000001010110181</td>
              <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
              <td>10</td>
              <td>@</td>
            </tr>
            <tr>
              <td>5</td>
              <td>100942000001010110181</td>
              <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
              <td>10</td>
              <td>@</td>
            </tr>
            <tr>
              <td>6</td>
              <td>100942000001010110181</td>
              <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
              <td>10</td>
              <td>@</td>
            </tr>
            <tr>
              <td>7</td>
              <td>100942000001010110181</td>
              <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
              <td>10</td>
              <td>@</td>
            </tr>
            <tr>
              <td>8</td>
              <td>100942000001010110181</td>
              <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
              <td>10</td>
              <td>@</td>
            </tr>
            <tr>
              <td>9</td>
              <td>100942000001010110181</td>
              <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
              <td>10</td>
              <td>@</td>
            </tr>
            <tr>
              <td>10</td>
              <td>100942000001010110181</td>
              <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
              <td>10</td>
              <td>@</td>
            </tr>

          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination row justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <br>
    <h3>ยาที่ต้องการเพิ่มใหม่</h3>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- 1 of 3 -->
        </div>
        <hr>
        <div class="col-8">
          <div class="p-2 border ">
            <form action="{% url 'add_medicine' %}" method="post">
              {% csrf_token %}
              <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">รหัสยา</label>
                <div class="col-sm-10">
                  <input class="form-control form-control-sm" placeholder="100942000001010110181" name="med_sup_id">
                </div>
              </div>
              <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">ชื่อยา</label>
                <div class="col-sm-10">
                  <input class="form-control form-control-sm" placeholder="3% NaCl (Sodium Chloride) 3 % x 1 ขวด" name="name">
                </div>
              </div>
              <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">ประเภท</label>
                <div class="col-sm-10">
                  <select class="form-control form-control-sm" required="" name="types">
                    <option value="">Choose...</option>
                    <option value="Drug">ยา</option>
                    <option value="Med_supply">เวชภัณฑ์</option>
                    
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">จำนวน</label>
                <div class="col-sm-2">
                  <input class="form-control form-control-sm " placeholder="15" name="amount">
                </div>
              </div>
              <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">รายละเอียด</label>
                <div class="col-sm-10">
                  <textarea class="form-control form-control-sm" rows="5" cols="3"></textarea>
                </div>
              </div>
              <center><input class="btn btn-success" type="submit" value="บันทัก"></center>
            </form>
          </div>
        </div>
        <div class="col">
          <!-- 3 of 3 -->
        </div>
      </div>
      <hr>
    </div>
</main>


{% endblock %}