{% extends 'base.html' %}
{% block content %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% endblock %}

{% block styles %}
{% endblock %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">

  <div class="container">

    <!-- topic and filter option -->
    <div class="row mb-3 mt-3">
      <div class="col-lg-3">
        <h1>เพิ่มยาใหม่</h1>
      </div>
    </div>
    <hr>
    <!-- from -->
    <div class="row">

      <hr>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th class="table-dark">ลำดับ</th>
              <th class="table-dark">รหัสมาตรฐาน 24 หลัก</th>
              <th class="table-dark">ชื่อยา</th>
              <th class="table-dark">จำนวน</th>
              <th class="table-dark">รายละเอียด</th>
            </tr>
          </thead>
          <tbody id='data1'>
            <!-- show data API -->

          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination row justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <br>
    <h3>ยาที่ต้องการเพิ่มใหม่</h3>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- 1 of 3 -->
        </div>
        <hr>
        <div class="col-8">
          <!-- from Drug -->
          <div class="p-2 border ">
            <form action="{% url 'add_medicine' %}" method="post">
              {% csrf_token %}
              <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">ประเภท</label>
                <div class="col-sm-10">
                  <select class="form-control form-control-sm" required="" name="types" id="types"
                    onchange="change(event)">
                    <option>----</option>
                    <option value="1">ยา</option>
                    <option value="2">เวชภัณฑ์</option>
                  </select>
                </div>
              </div>

              <!-- from Drug -->
              {% include "Medicine/form_addmed.html" %}
              <!----------->
            </form>
          </div>
        </div>
        <div class="col">
          <!-- 3 of 3 -->
        </div>
      </div>
      <hr>
    </div>
</main>
<script>
  window.onload = function () {
    initialize();
  };

  function initialize() {
    show_drug()
    
  }




  axios.defaults.xsrfCookieName = 'csrftoken'
  axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN'
  //API
  function show_drug() {
    let self = this;
    axios.get('/treatment/patient/update/drug/', {
      // เมื่อทำงานสำเร็จ
    }).then(function (response) {
      console.log(response.data);
      show_table(response.data)

    }).catch(function (error) {
      console.log(error);
    });
  }

  function show_table(data) {
    table = document.getElementById('data1')
    for (let i = 0; i < data.length; i++) {
      //สร้างแถว 
      let tr = document.createElement('tr');
      //เก็บข้อมูล ตาม index
      let select_data = data[i]
      let text = ''
      text += `
        <td>${i + 1}</td>
        <td></td>
        <td>${select_data['name']}</td>
        <td>${select_data['amount']}</td>
        <td>@</td>`
      //$ใส่ค่ามองเป็น str  
      tr.innerHTML = text;
      table.append(tr);

    }

  }
  function change(event) {
    var check = event.target.value

    if (check == 1) {
      document.getElementById('Med').style.display = 'block';
      document.getElementById('Supply').style.display = 'none';
    }
    else if (check == 2) {
      document.getElementById('Supply').style.display = 'block';
      document.getElementById('Med').style.display = 'none';
    }
    else {
      document.getElementById('Supply').style.display = 'none';
      document.getElementById('Med').style.display = 'none';
    }
  }


  //API

</script>
{% endblock %}