{% extends "base.html" %}
{% load static %}

{% block scripts %}
{% endblock scripts %}

{% block styles %}
{% endblock styles %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <div class="container mt-3 mb-5" id='app'>
        <div class="row" id='app'>
            <div class="col-md-6">
                <h2 class="mb-2">ยืนยันการจ่ายยา</h2>
                <form class="needs-validation" novalidate="">
                    <!-- ROWS OF PATIENT INFORMATION -->
                    <div class="row">
                        <div class="card w-100">
                            <h5 class="card-header">รายการใบสั่งยา</h5>
                            <div class="card-body">
                                <table class="table table-bordered table table-sm table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="table-dark" scope="col">ลำดับที่</th>
                                            <th class="table-dark" scope="col">รหัสการรักษา</th>
                                            <th class="table-dark" scope="col">รหัสใบสั่งยา</th>
                                            <th class="table-dark" scope="col">ชื่อผู้รับยา</th>
                                            <th class="table-dark" scope="col">สถานะ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <th class="text-center">101</th>
                                            <td class="text-center">CN0101</td>
                                            <td class="text-center">PT0001</td>
                                            <td class="text-center">สหัสวรรษ</td>
                                            <td class="text-center"><label class="checkbox-inline"><input type="checkbox" value=""></label></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                

                            </div><br>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5 ml-3 mt-5">
                <div class="row">
                    <div class="card w-100">
                        <h5 class="card-header">รายละเอียดใบสั่งยา</h5>

                        <div class="card-body">
                            <div class="row">
                                <div class="card-body">
                                    <p><b>ใบสั่งยาเลขที่ :</b> [[ prescription.id]] </p>
                                <p><b>เลขที่ประวัติการรักษา :</b> [[ prescription.treatment_cn]] </p>
                                <p><b>ให้เเก่ :</b> นาย เด่นภูมิ ศรีเมือง</p>
                                <p><b>ลักษณะอาการเบื้องต้น :</b> ไข้มีเสมหะ ปวดหัว ตัวร้อน เป้นไข้ นอนไม่หลับ กระส่ายกระสับ</p>
                                <p><b>คำวินิจฉัยจากเเพทย์ :</b> Negative coronavirus detect, but positive HIV</p>
                                </div>
                                

                            </div>
                            <div class="row mt-4">
                                <div class="card-body" style='color:red'>
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th class="table-dark">ลำดับยา</th>
                                                <th class="table-dark">ประเภท</th>
                                                <th class="table-dark">ชื่อยา/เวชภัทฑ์</th>
                                                <th class="table-dark">จำนวน</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for='dispense in prescription.dispense '>
                                                <td class="text-center">[[ dispense.id ]]</td>
                                                <td class="table-info">[[ dispense.name ]]</td>
                                                <td class="text-center">[[ dispense.amount ]]</td>


                                            </tr>

                                        </tbody>
                                    </table>
                                    <button  type="button" class="btn btn-success btn-sm " style="float: right;">ยืนยันการจ่ายยา</button><br><br>
                                    <p class="text-right ">โดย พว. XXXXXXXX XXXXXX</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>

</main>

{% endblock content %}

{% block footer %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            select_id : 5,
            precriptions_list: [],
            prescription: []

        }, methods: {
            select_prescription: function () {
                let self = this;
                axios.get('/medicine/prescription/'+this.select_id+'/pst_api/', {
                
                }).then(function (response) {
                    console.log(response.data);
                    self.prescription = response.data

                }).catch(function (error) {
                    console.log(error);
                });
            },
            not_provide_prescription: function() {
                let self = this;
                axios.get('prescription/<int:pst_id>/pst_api/', {
                
                }).then(function (response) {
                    console.log(response.data);
                    self.precriptions_list = response.data

                }).catch(function (error) {
                    console.log(error);
                });
            }
        }, created() {
            this.select_prescription()
        }
    })
</script>

{% endblock footer %}