<div id="Med" style="display: none;">
    <form action="{% url 'add_medicine' %}" method="post">
    <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">รหัสยา</label>
        <div class="col-sm-10">
    <!-- <input class="form-control form-control-sm" placeholder="100942000001010110181" name="med_id"> -->
            {{form.drug_id}}
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">ชื่อยา</label>
        <div class="col-sm-10">
    <!-- <input class="form-control form-control-sm" placeholder="3% NaCl (Sodium Chloride) 3 % x 1 ขวด"name="name">  -->
            {{form.name}}
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">จำนวน</label>
        <div class="col-sm-2">
    <!-- <input class="form-control form-control-sm " placeholder="15" name="amount"> -->
    {{form.amount}}
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">รายละเอียด</label>
        <div class="col-sm-10">
        <!-- <textarea class="form-control form-control-sm" rows="5" cols="3" name="description"></textarea> -->
            {{form.description}}
        </div>
        
    </div>
    <center><input class="btn btn-success" type="submit" value="บันทัก"></center>
</form>
</div>

<!-- ----------------------------------------- -->

<div id="Supply" style="display: none;">
    <form action="{% url 'add_medicine' %}" method="post">
    <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">รหัสเวชภัณฑ์</label>
        <div class="col-sm-10">
    <!-- <input class="form-control form-control-sm" placeholder="100942000001010110181" name="med_id"> -->
            {{form.sup_id}}
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">ชื่อยา</label>
        <div class="col-sm-10">
    <!-- <input class="form-control form-control-sm" placeholder="3% NaCl (Sodium Chloride) 3 % x 1 ขวด"name="name">  -->
            {{form.name}}
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">จำนวน</label>
        <div class="col-sm-2">
    <!-- <input class="form-control form-control-sm " placeholder="15" name="amount"> -->
            {{form.amount}}
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">รายละเอียด</label>
        <div class="col-sm-10">
        <!-- <textarea class="form-control form-control-sm" rows="5" cols="3" name="description"></textarea> -->
            {{form.description}}
        </div>
        
    </div>
    <center><input class="btn btn-success" type="submit" value="บันทัก"></center>
</form>
</div>
<script>

</script>



