{% extends 'base.html' %}
{% block content %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% endblock %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
  <div class="container">
    <!-- topic and filter option -->
    <div class="row mb-3 mt-3">
      <div class="col-lg-3">
        <h1>จัดการคลังยา</h1>
      </div>
      <div class="col-lg-8 mt-3">
        <div class="row">

        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <hr>
<div class="container">
  <div class="row">
    <div class="col">
      <!-- 1 of 3 -->
    </div>
    
    <div class="col-6">
     <div class="p-4 border ">
          <h3>อัพเดจจำนวนยา : </h3>
            <hr>
          <form method="" action="">
            
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">ชื่อยา</label>
                <div class="col-sm-10">
            <!-- <input class="form-control form-control-sm" placeholder="3% NaCl (Sodium Chloride) 3 % x 1 ขวด"name="name">  -->
                    {{form1.name}}
                </div>
            </div>
            <div class="form-group row">
              <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">จำนวน</label>
              <div class="col-sm-2">
                <!-- <input class="form-control form-control-sm" placeholder="15"> -->{{form1.amount}}
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-success btn-lg btn-block" type="submit">อัพเดจ</button>
          </form>
        </div> 
    </div>
    <div class="col">
      <!-- 3 of 3 -->
    </div>
  </div>

</div>
       {% comment %} <div class="col-6 ">
        <div class="p-4 border ">
          <h3>อัพเดจจำนวนยา : </h3>
          <p>#</p>
    
          <form>

            <div class="form-group row">
              <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">ประเภท</label>
              <div class="col-sm-5">
                <select class="form-control form-control-sm" required="">
                  <option value="">ประเภทรายการ</option>
                  <option>1</option>
                  <option>2</option>

                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">จำนวน</label>
              <div class="col-sm-2">
                <input class="form-control form-control-sm" placeholder="15">
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-success btn-lg btn-block" type="submit">อัพเดจ</button>
          </form>
        </div> 
      </div> {% endcomment %}

    </div>
    <hr>

    </div>
  </div>
</main>

{% endblock %}