{% extends "base.html" %}
{% load static %}


{% block styles %}
{% endblock %}



{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN'

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#progress_bar',
        data: {
            patient_id: '{% if patient_id %}{{patient_id}}{% endif %}',
            filter_drug: {},
            filter_disease: [],
            keywords: '',
            disease_keywords: '',

            allegic_med: [],
            cog_di: [],

            form: ['{% if form.fname.value %}{{form.fname.value}}{% endif %}',
                '{% if form.lname.value %}{{form.lname.value}}{% endif %}',
                '{% if form.idcard_number.value %}{{form.idcard_number.value}}{% endif %}',
                '{% if form.birth_day.value %}{{form.birth_day.value}}{% endif %}',
                '{% if form.nationality.value %}{{form.nationality.value}}{% endif %}',
                '{% if form.race.value %}{{form.race.value}}{% endif %}',
                '{% if form.status.value %}{{form.status.value}}{% endif %}',
                '{% if form.blood_type.value %}{{form.blood_type.value}}{% endif %}',
                '{% if form.phone.value %}{{form.phone.value}}{% endif %}',
                '{% if form.address.value %}{{form.address.value}}{% endif %}',
                '{% if form.patient_role.value %}{{form.patient_role.value}}{% endif %}',
                '{% if form.id_code.value %}{{form.id_code.value}}{% endif %}',
                '{% if form.hospital_refer.value %}{{form.hospital_refer.value}}{% endif %}',
                '{% if form.gold_card_no.value %}{{form.gold_card_no.value}}{% endif %}',
                '{% if form.gold_card_expire.value %}{{form.gold_card_expire.value}}{% endif %}'
            ],
            percent: 0
        },
        watch: {
            // whenever question changes, this function will run
            patient_id: function () {
                this.my_allegic_drug()
                this.my_congenital_disease()
            }
        },
        methods: {
            // a computed getter
            update: function () {
                // `this` points to the vm instance
                console.log('in update')
                app.percent = 0
                this.form.forEach(myFunction)

                function myFunction(item, index, arr) {
                    if (arr[index] != '') {
                        app.percent = app.percent + 5;
                        console.log('this.percent += 5;')
                    }

                }
                document.querySelector('.progress-bar').style.width = this.percent + '%'
            },
            drug_search: function () {
                axios.get('/treatment/patient/update/drug/?keywords=' + this.keywords, {

                }).then(function (response) {
                    console.log(response.data);
                    app.filter_drug = response.data

                }).catch(function (error) {
                    console.log(error);
                });
            },
            disease_search: function () {
                // `app` points to the vm instance
                axios.get('/treatment/patient/update/' + this.patient_id + '/cd_api/?keywords=' + this.disease_keyword + '?add=True', {

                }).then(function (response) {
                    console.log(response.data);
                    app.filter_disease = response.data

                }).catch(function (error) {
                    console.log(error);
                });
            },
            my_allegic_drug: function () {
                // `app` points to the vm instance
                axios.get('/treatment/patient/update/' + this.patient_id + '/drug_api/', {

                }).then(function (response) {
                    console.log(response.data);
                    app.allegic_med = response.data

                }).catch(function (error) {
                    console.log(error);
                });
            },
            my_congenital_disease: function () {
                // `app` points to the vm instance
                axios.get('/treatment/patient/update/' + this.patient_id + '/cd_api/', {

                }).then(function (response) {
                    console.log(response.data);
                    app.cog_di = response.data

                }).catch(function (error) {
                    console.log(error);
                });
            }
            , add_allegy_drug: function (med_sup_id) {
                // รอเบียร์เเก้ api
                med_sup = med_sup_id
                axios.post('/treatment/patient/update/' + this.patient_id + '/drug_api/', {
                    med_sup_id: med_sup
                }).then(function (response) {
                    app.allegic_med = response.data
                    console.log(response.data);

                }).catch(function (error) {
                    console.log(error);
                });
            }, add_congenital_disease: function (id) {
                // รอเบียร์เเก้ api
                congenital_disease_id = id
                axios.post('/treatment/patient/update/' + this.patient_id + '/cd_api/', {
                    id: congenital_disease_id,

                }).then(function (response) {
                    app.allegic_med = response.data
                    console.log(response.data);
                }).catch(function (error) {
                    console.log(error);
                });
            }, add_new_congenital_disease: function (id) {
                // รอเบียร์เเก้ api
                if (this.disease_keywords === '') {
                    alert('กรุณากรอกชื่อโรคที่ต้องการเพิ่ม')
                    document.getElementById('searchaddbox').focus()
                } else {
                    congenital_disease_id = id
                    axios.patch('/treatment/patient/update/' + this.patient_id + '/cd_api/', {
                        id: congenital_disease_id,
                        name: this.disease_keywords
                    }).then(function (response) {
                        console.log(response.data);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }

            }
        }
    })
</script>
{% endblock %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <div class="container mt-3 mb-5">
        <div class="row" id="progress_bar">
            <div class="col-md-12">
                {{ form.non_field_errors }}

                {{ form.non_field_errors }}

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger {% else %}{{message.tags}} {% endif %}
                alert-dismissible fade show" role="alert">
                    <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}</strong>
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}

                {% endif %}
            </div>
            <div class="col-md-8">
                <h2 class="mb-3">ลงทะเบียนข้อมูลผู้ป่วย</h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="100">[[percent]] %</div>
                </div>
                <hr>
                {% if update %}
                <form class="needs-validation" novalidate="" method="POST" action="{% url 'update_patient' p_id %}">
                    {% else %}
                    <form class="needs-validation" novalidate="" method="POST" action="{% url 'create_patient' %}">
                        {% endif %}
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.fname.label_tag }}
                                <!-- <input type="text" class="form-control" id="{{form.fname.name}}" name="{{ form.fname.name }}" placeholder="ชื่อ" value="" required=""> -->
                                {{form.fname}}

                                {% if form.fname.errors %}
                                <div class="text-danger"> {{ form.fname.errors }}</div>
                                {% endif %}


                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.lname.label_tag }}
                                <!-- <input type="text" class="form-control" id="{{form.lname.name}}" name="{{form.lname.name}}" placeholder="นามสกุล" value=""
                                required=""> -->
                                {{form.lname}}
                                {% if form.lname.errors %}
                                <div class="text-danger"> {{ form.lname.errors }}</div>
                                {% endif %}

                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form.idcard_number.label_tag }}
                            <div class="input-group">
                                <!-- <input type="text" class="form-control" id="ssid" name="ssid" placeholder="ตัวอย่าง 111-110-120-1111"
                                required=""> -->
                                {{form.idcard_number}}
                                {% if form.idcard_number.errors %}
                                <div class="text-danger"> {{ form.idcard_number.errors }}</div>
                                {% endif %}


                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    {{ form.birth_day.label_tag }}

                                    {{ form.birth_day }}
                                    {% if form.birth_day.errors %}
                                    <div class="text-danger"> {{ form.birth_day.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-4 mb-3">
                                    {{ form.nationality.label_tag }}

                                    {{ form.nationality }}
                                    {% if form.nationality.errors %}
                                    <div class="text-danger"> {{ form.nationality.errors }}</div>
                                    {% endif %}

                                </div>
                                <div class="col-md-3 mb-3">
                                    {{ form.race.label_tag }}

                                    {{ form.race }}
                                    {% if form.race.errors %}
                                    <div class="text-danger"> {{ form.race.errors }}</div>
                                    {% endif %}

                                </div>
                            </div>


                        </div>
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-md-5">
                                    {{ form.patient_role.label_tag }}
                                    {% for radio in form.patient_role %}
                                    <div class="custom-control custom-radio pl-1">
                                        <span class="radio">{{ radio.tag }}</span>
                                        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                    </div>

                                    {% endfor %}
                                </div>
                                <div class="col-md-3">
                                    {{ form.status.label_tag }}
                                    {% for radio in form.status %}
                                    <div class="custom-control custom-radio pl-1">
                                        <span class="radio">{{ radio.tag }}</span>
                                        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                    </div>

                                    {% endfor %}

                                </div>
                                <div class="col-md-4">
                                    {{ form.id_code.label_tag }}

                                    {{ form.id_code }}

                                    {% if form.id_code.errors %}
                                    <div class="text-danger"> {{ form.id_code.errors }}</div>
                                    {% endif %}


                                    <br>

                                    {{ form.blood_type.label_tag }}

                                    {{ form.blood_type }}

                                    {% if form.blood_type.errors %}
                                    <div class="text-danger"> {{ form.blood_type.errors }}</div>
                                    {% endif %}





                                </div>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6 ml-1">
                                {{ form.phone.label_tag }}
                                {{ form.phone }}


                                {% if form.phone.errors %}
                                <div class="text-danger"> {{ form.phone.errors }}</div>
                                {% endif %}

                            </div>

                            <div class="col-md-5 ml-5">
                                {{ form.hospital_refer.label_tag }}

                                {{ form.hospital_refer }}


                                {% if form.hospital_refer.errors %}
                                <div class="text-danger"> {{ form.hospital_refer.errors }}</div>
                                {% endif %}


                            </div>



                        </div>

                        <div class="row mb-3">

                            <div class="col-md-6 ml-1">
                                {{ form.address.label_tag }}
                                {{ form.address }}


                                {% if form.address.errors %}
                                <div class="text-danger"> {{ form.address.errors }}</div>
                                {% endif %}


                            </div>

                            <div class="col-md-5 ml-5">
                                {{ form.gold_card_no.label_tag }}

                                {{ form.gold_card_no }}


                                {% if form.gold_card_no.errors %}
                                <div class="text-danger"> {{ form.gold_card_no.errors }}</div>
                                {% endif %}

                                <br>
                                {{ form.gold_card_expire.label_tag }}

                                {{ form.gold_card_expire }}


                                {% if form.gold_card_expire.errors %}
                                <div class="text-danger"> {{ form.gold_card_expire.errors }}</div>
                                {% endif %}



                            </div>



                        </div>
                        <button class="btn btn-info btn-lg btn-block" type="submit">ขั้นตอนถัดไป</button>
                    </form>



            </div>

            <div class="col-md-4 mb-4" v-if=''>
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">เเพ้ยา</span>
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                        data-target="#exampleModalScrollable">เพิ่ม</button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">เเพ้ยา</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <!-- เมนูค้นหา -->
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="ชื่อยา" aria-label="ชื่อยา"
                                            aria-describedby="button-addon2" v-model='keywords'>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                                v-on:click='drug_search'>ค้นหา</button>
                                        </div>
                                    </div>
                                    <ol>
                                        <li v-for='drug in filter_drug'>
                                            [[ drug.name ]] <button class="btn btm-sm btn-success"
                                                v-on:click='add_allegy_drug(drug.med_sup_id)'>เพิ่ม</button>
                                        </li>
                                    </ol>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </h4>

                <li class="list-group-item d-flex justify-content-between lh-condensed" v-for='med in allegic_med'>
                    <div>
                        <h6 class="my-0">[[ med.name ]] </h6>

                    </div>
                </li>

                </ul>
                <hr>
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">โรคประจำตัว</span>
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                        data-target="#disease_add">เพิ่ม</button>

                    <!-- Modal -->
                    <div class="modal fade" id="disease_add" tabindex="-1" role="dialog"
                        aria-labelledby="disease_addTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="disease_addTitle">เพิ่มโรคประจำตัว</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- เมนูค้นหา -->
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="ชื่อโรค"
                                            aria-label="ชื่อโรค" id="searchaddbox" 
                                            v-model='disease_keywords'>

                                        <div class="input-group-append">
                                            <button class="btn btn-outline-info" type="button" id="button-addon2"
                                                v-on:click='disease_search'>ค้นหา</button>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success" type="button" id="button-addon3"
                                                v-on:click='add_new_congenital_disease'>เพิ่ม</button>
                                        </div>
                                    </div>
                                    <ol>
                                        <p>
                                            <li v-for='drug in filter_disease'>
                                                [[ drug.name ]] <button>เพิ่ม</button>
                                            </li>
                                        </p>

                                    </ol>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </h4>
                <ul class="list-group mb-3">

                    <li class="list-group-item d-flex justify-content-between lh-condensed" v-for='disease in cog_di'>
                        <div>
                            <h6 class="my-0">[[ disease.name ]] </h6>

                        </div>
                    </li>
                </ul>

            </div>

        </div>

    </div>


</main>
{% endblock %}

{% block footer %}

{% endblock %}