{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}


{% block style %}

{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <div class="container mt-3 mb-5">
        <div class="row" id='app'>
            <div class="col-md-6">
                <h2 class="mb-2">สร้างการวินิจฉัย CN : CN0001</h2>
                <form class="needs-validation" novalidate="">
                    <!-- ROWS OF PATIENT INFORMATION -->
                    <div class="row">
                        <div class="card w-100">
                            <h5 class="card-header">ข้อมูลผู้ป่วย <a href="#" class="btn btn-info btn-sm"
                                    style="">ข้อมูลเพิ่มเติม</a></h5>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="card-title">นายสหัสวรรษ ขันรักษา (นักศึกษา)</h5>
                                        <p class="card-text">อายุ 18 ปี 6 เดือน กลุ่มเลือด A</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="card-text">เเพ้ยา : -</p>
                                        <p class="card-text">โรคประจำตัว : -</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="card w-100">
                            <h5 class="card-header">ข้อมูลเบื้องต้น <a href="#" class="btn btn-info btn-sm"
                                    style="">ข้อมูลเพิ่มเติม</a></h5>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="card-title">Vital Sign :</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">น้ำหนัก</th>
                                                    <td> <input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="น้ำหนัก">
                                                    </td>
                                                    <th scope="row">ส่วนสูง</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="ส่วนสูง">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ความดันโลหิต</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="ความดันโลหิต">
                                                    </td>
                                                    <th scope="row">อัตราชีพจร</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="อัตราชีพจร">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">อุณหภูมิร่างกาย</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="อุณหภูมิร่างกาย">
                                                    </td>
                                                    <th scope="row">อัตราการหายใจ</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="อัตราการหายใจ">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ดัชนีมวลกาย</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="ดัชนีมวลกาย"
                                                            disabled></td>
                                                    <th scope="row">ออกซิเจนในเลือด</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="ออกซิเจนในเลือด">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        สภาพผู้ป่วย :
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio1" value="option1" checked>
                                            <label class="form-check-label" for="inlineRadio1">มาด้วยตนเอง</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">รถพยาบาล</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio3" value="option3">
                                            <label class="form-check-label" for="inlineRadio3">เปลนอน</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        สภาวะผู้ป่วย :
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="emergency"
                                                id="emergency1" value="option1" checked>
                                            <label class="form-check-label" for="emergency1">ไม่ฉุกเฉิน</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="emergency"
                                                id="emergency2" value="option2">
                                            <label class="form-check-label" for="emergency2">ฉุกเฉิน</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        ใบรับรองเเพทย์ :
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="mediprint"
                                                id="mediprint1" value="option1" checked>
                                            <label class="form-check-label" for="mediprint1">ไม่ต้องการ</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="mediprint"
                                                id="mediprint2" value="option2">
                                            <label class="form-check-label" for="mediprint2">ต้องการ</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-5">
                                        ประเภทการเข้ารับการรักษา :
                                    </div>
                                    <div class="col-md-8">
                                        <select v-model="selected" class="custom-select my-1 mr-sm-2">
                                            <option v-for="option in options" v-bind:value="option.value">
                                                [[ option.text ]]
                                            </option>
                                        </select>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
            </div>

            {% include "Treatment/create_pre_diagnosis.html" %}

            {% include "Treatment/create_diagnosis.html" %}


            <div class="col-md-11 mt-3 ml-2">
                <div class="row">
                    <div class="card w-100">
                        <h5 class="card-header">ใบสั่งยา</h5>

                        <div class="card-body" style='color:red'>
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th class="table-dark">ลำดับ</th>
                                        <th class="table-dark">ชื่อยา/เวชภัทฑ์</th>
                                        <th class="table-dark">จำนวน</th>
                                        <th class="table-dark"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-info">1</td>
                                        <td class="table-info">Acetazolamide (อะเซตาโซลาไมด์) 3 % x 1 ขวด</td>
                                        <td class="table-info">
                                            <center><input type="number" value="" min="0" max="1000" step="1" />
                                            </center>
                                        </td>
                                        <td class="table-info">
                                            <center><button type="button" class="btn btn-danger btn-sm">ลบ</button>
                                            </center>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Albumin (อัลบูมิน) x 1 ขวด (500 ml.)</td>
                                        <td>
                                            <center><input type="number" value="" min="0" max="1000" step="1" />
                                            </center>
                                        </td>
                                        <td>
                                            <center><button type="button" class="btn btn-danger btn-sm">ลบ</button>
                                            </center>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Aminoglycosides (อะมิโนไกลโคไซด์)</td>
                                        <td>
                                            <center><input type="number" value="" min="0" max="1000" step="1" />
                                            </center>
                                        </td>
                                        <td>
                                            <center><button type="button" class="btn btn-danger btn-sm ">ลบ</button>
                                            </center>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>หน้ากากอนามัย</td>
                                        <td>
                                            <center><input type="number" value="" min="0" max="1000" step="1" />
                                            </center>
                                        </td>
                                        <td>
                                            <center><button type="button" class="btn btn-danger btn-sm ">ลบ</button>
                                            </center>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td><br /></td>
                                        <td><br /></td>
                                        <td><br /></td>
                                        <td>
                                            <center><button type="button" class="btn btn-success btn-sm"
                                                    data-toggle="modal"
                                                    data-target=".bd-example-modal-xl">เพิ่ม</button></center>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <a class="btn btn-success btn-lg btn-block col-md-11 ml-2 mt-2" href="">ยืนยัน</a>
        </div>
        </form>


        <!-- Modal -->
        <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">รายการยา</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <div class="row">
                            <div class="col-11"><input type="text" class="form-control" name="search" placeholder="Search..."><br>
                            </div>
                            <div class="col-1"><button type="button" class="btn btn-success btn-ml">ค้นหา</button>
                            </div>
                          </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th class="table-dark">No.</th>
                                    <th class="table-dark">รหัสมาตรฐาน 24 หลัก</th>
                                    <th class="table-dark">ชื่อยา</th>
                                    <th class="table-dark">จำนวน</th>
                                    <th class="table-dark">รายละเอียด</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>100942000001010110181</td>
                                    <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
                                    <td>10</td>
                                    <td>@</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>100942000001010110181</td>
                                    <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
                                    <td>10</td>
                                    <td>@</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>100942000001010110181</td>
                                    <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
                                    <td>10</td>
                                    <td>@</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>100942000001010110181</td>
                                    <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
                                    <td>10</td>
                                    <td>@</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>100942000001010110181</td>
                                    <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
                                    <td>10</td>
                                    <td>@</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>100942000001010110181</td>
                                    <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
                                    <td>10</td>
                                    <td>@</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>100942000001010110181</td>
                                    <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
                                    <td>10</td>
                                    <td>@</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>100942000001010110181</td>
                                    <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
                                    <td>10</td>
                                    <td>@</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>100942000001010110181</td>
                                    <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
                                    <td>10</td>
                                    <td>@</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>100942000001010110181</td>
                                    <td>3% NaCl (Sodium Chloride) 3 % x 1 ขวด</td>
                                    <td>10</td>
                                    <td>@</td>
                                </tr>

                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination row justify-content-center">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">5</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
                        <button type="button" class="btn btn-success">จ่ายยา</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    </div>

</main>
{% endblock %}
{% block footer %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            selected: 'A',
            options: [
                { text: 'ทั่วไป', value: 'A' },
                { text: 'ผิวหนัง', value: 'B' },
                { text: 'อุบัติเหตุ', value: 'C0' },
                { text: 'อุบัติเหตุต่อเนื่อง', value: 'C1' },
                { text: 'ดวงตา', value: 'D' },
                { text: 'อาการไข้', value: 'E' },
                { text: 'ท้องเสีย', value: 'F' },
                { text: 'อาการปวดทุกเเห่ง', value: 'G' }
            ]
        }
    })
</script>

{% endblock %}