{% extends "base.html" %}
{% load static %}

{% block scripts %}

{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <div class="container mt-3 mb-5">
        <div class="row">
            <div class="col-md-12">
                {{ form.non_field_errors }}
            </div>
            <div class="col-md-8">
                <h2 class="mb-3">ลงทะเบียนข้อมูลผู้ป่วย</h2>
                {% if update %}
                <form class="needs-validation" novalidate="" method="POST" action="{% url 'update_patient' p_id %}">
                    {% else %}
                    <form class="needs-validation" novalidate="" method="POST" action="{% url 'create_patient' %}">
                        {% endif %}
                        {% csrf_token %}



                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.fname.label_tag }}
                                <!-- <input type="text" class="form-control" id="{{form.fname.name}}" name="{{ form.fname.name }}" placeholder="ชื่อ" value="" required=""> -->
                                {{form.fname}}
                                <div class="invalid-feedback">
                                    {{ form.fname.errors }}
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.lname.label_tag }}
                                <!-- <input type="text" class="form-control" id="{{form.lname.name}}" name="{{form.lname.name}}" placeholder="นามสกุล" value=""
                                required=""> -->
                                {{form.lname}}
                                <div class="invalid-feedback">
                                    {{ form.lname.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form.idcard_number.label_tag }}
                            <div class="input-group">
                                <!-- <input type="text" class="form-control" id="ssid" name="ssid" placeholder="ตัวอย่าง 111-110-120-1111"
                                required=""> -->
                                {{form.idcard_number}}
                                <div class="invalid-feedback" style="width: 100%;">
                                    {{ form.idcard_number.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    {{ form.birth_day.label_tag }}
                                    <!-- <input type="date" name="dateofbirth" class="form-control"> -->
                                    {{ form.birth_day }}
                                    <div class="invalid-feedback">
                                        {{ form.birth_day.errors }}
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    {{ form.nationality.label_tag }}
                                    <!-- <select class="custom-select d-block w-100" id="nation" name="nation" required="">
                                    <option value="">Choose...</option>
                                    <option>California</option>
                                </select> -->
                                    {{ form.nationality }}
                                    <div class="invalid-feedback">
                                        {{ form.nationality.errors }}
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    {{ form.race.label_tag }}
                                    <!-- <select class="custom-select d-block w-100" id="mature_land" name="mature_land" required="">
                                    <option value="">Choose...</option>
                                    <option>California</option>
                                </select> -->
                                    {{ form.race }}
                                    <div class="invalid-feedback">
                                        {{ form.race.errors }}
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-md-5">
                                    {{ form.patient_role.label_tag }}
                                    <!-- <div class="custom-control custom-radio">
                                    <input id="kmtil" name="patient_role" type="radio" class="custom-control-input"
                                        checked="" required="">
                                    <label class="custom-control-label" for="kmtil">นักศึกษา</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="employee" name="patient_role" type="radio" class="custom-control-input"
                                        required="">
                                    <label class="custom-control-label" for="employee">บุคลากร</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="kosen" name="patient_role" type="radio" class="custom-control-input"
                                        required="">
                                    <label class="custom-control-label" for="kosen">KOSEN</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="kmids" name="patient_role" type="radio" class="custom-control-input"
                                        required="">
                                    <label class="custom-control-label" for="kmids">KMIDS</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="cmkl" name="patient_role" type="radio" class="custom-control-input"
                                        required="">
                                    <label class="custom-control-label" for="cmkl">CMKL</label>
                                </div> -->
                                    {% for radio in form.patient_role %}
                                    <div class="custom-control custom-radio pl-1">
                                        <span class="radio">{{ radio.tag }}</span>
                                        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                    </div>

                                    {% endfor %}
                                </div>
                                <div class="col-md-3">
                                    {{ form.status.label_tag }}
                                    {% for radio in form.status %}
                                    <div class="custom-control custom-radio pl-1">
                                        <span class="radio">{{ radio.tag }}</span>
                                        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                    </div>

                                    {% endfor %}
                                    <!-- <label for="status">สถานะ</label>
                                    <div class="custom-control custom-radio">
                                        <input id="single" name="patientStatus" type="radio"
                                            class="custom-control-input" checked="" required="">
                                        <label class="custom-control-label" for="single">โสด</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input id="marriage" name="patientStatus" type="radio"
                                            class="custom-control-input" required="">
                                        <label class="custom-control-label" for="marriage">สมรส</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input id="other" name="patientStatus" type="radio" class="custom-control-input"
                                            required="">
                                        <label class="custom-control-label" for="other">อื่นๆ</label>
                                    </div> -->
                                </div>
                                <div class="col-md-4">
                                    {{ form.id_code.label_tag }}

                                    {{ form.id_code }}
                                    <div class="invalid-feedback">
                                        {{ form.id_code.errors }}
                                    </div>

                                    <br>

                                    {{ form.blood_type.label_tag }}

                                    {{ form.blood_type }}
                                    <div class="invalid-feedback">
                                        {{ form.blood_type.errors }}
                                    </div>




                                </div>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6 ml-1">
                                {{ form.phone.label_tag }}
                                {{ form.phone }}
                                <div class="invalid-feedback">
                                    {{ form.phone.errors }}
                                </div>
                            </div>

                            <div class="col-md-5 ml-5">
                                {{ form.hospital_refer.label_tag }}

                                {{ form.hospital_refer }}
                                <div class="invalid-feedback">
                                    {{ form.hospital_refer.errors }}
                                </div>

                            </div>



                        </div>

                        <div class="row mb-3">

                            <div class="col-md-6 ml-1">
                                {{ form.address.label_tag }}
                                {{ form.address }}
                                <div class="invalid-feedback">
                                    {{ form.address.errors }}
                                </div>

                            </div>

                            <div class="col-md-5 ml-5">
                                {{ form.gold_card_no.label_tag }}

                                {{ form.gold_card_no }}
                                <div class="invalid-feedback">
                                    {{ form.gold_card_no.errors }}
                                </div>

                            


                            </div>


                        </div>



            </div>
<div class="col-md-4 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">เเพ้ยา</span>
            <button type="button" class="btn btn-success btn-sm">เพิ่ม</button>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Paracetamol</h6>
                    <small class="text-muted">รุนเเรง</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Adopamin</h6>
                    <small class="text-muted">ปานกลาง</small>
                </div>
            </li>
        </ul>

        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">โรคประจำตัว</span>
            <button type="button" class="btn btn-success btn-sm">เพิ่ม</button>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">โรคปอด</h6>
                    <small class="text-muted">ตั้งเเต่ปี 2018</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">โควิด-19</h6>
                    <small class="text-muted">เดือน มีนาคม 2020</small>
                </div>
            </li>
        </ul>

    </div>

        </div>

        <hr class="mb-4">
        <button class="btn btn-info btn-lg btn-block" type="submit">ขั้นตอนถัดไป</button>
        </form>
    </div>

    
</main>
{% endblock %}

{% block footer %}

{% endblock %}