{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <div class="container mt-3 mb-5">
        <div class="row" id='app'>
            <div class="col-md-6">
                <h2 class="mb-2">สร้างการวินิจฉัย CN : CN0001</h2>
                <form class="needs-validation" novalidate="">
                    <!-- ROWS OF PATIENT INFORMATION -->
                    <div class="row">
                        <div class="card w-100">
                            <h5 class="card-header">ข้อมูลผู้ป่วย <a href="#" class="btn btn-info btn-sm"
                                    style="">ข้อมูลเพิ่มเติม</a></h5>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="card-title">นายสหัสวรรษ ขันรักษา (นักศึกษา)</h5>
                                        <p class="card-text">อายุ 18 ปี 6 เดือน กลุ่มเลือด A</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="card-text">เเพ้ยา : -</p>
                                        <p class="card-text">โรคประจำตัว : -</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="card w-100">
                            <h5 class="card-header">ข้อมูลเบื้องต้น <a href="#" class="btn btn-info btn-sm"
                                    style="">ข้อมูลเพิ่มเติม</a></h5>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="card-title">Vital Sign :</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">น้ำหนัก</th>
                                                    <td> <input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="Another input">
                                                    </td>
                                                    <th scope="row">ส่วนสูง</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="Another input">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ความดันโลหิต</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="Another input">
                                                    </td>
                                                    <th scope="row">อัตราชีพจร</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="Another input">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">อุณหภูมิร่างกาย</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="Another input">
                                                    </td>
                                                    <th scope="row">อัตรการหายใจ</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="Another input">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ดัชนีมวลกาย</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="Another input"
                                                            disabled></td>
                                                    <th scope="row">ออกซิเจนในเลือด</th>
                                                    <td><input type="number" class="form-control"
                                                            id="formGroupExampleInput2" placeholder="Another input">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        สภาพผู้ป่วย :
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio1" value="option1" checked>
                                            <label class="form-check-label" for="inlineRadio1">มาด้วยตนเอง</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">รถพยาบาล</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio3" value="option3">
                                            <label class="form-check-label" for="inlineRadio3">เปลนอน</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        สภาวะผู้ป่วย :
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="emergency"
                                                id="emergency1" value="option1" checked>
                                            <label class="form-check-label" for="emergency1">ไม่ฉุกเฉิน</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="emergency"
                                                id="emergency2" value="option2">
                                            <label class="form-check-label" for="emergency2">ฉุกเฉิน</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        ใบรับรองเเพทย์ :
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="mediprint"
                                                id="mediprint1" value="option1" checked>
                                            <label class="form-check-label" for="mediprint1">ไม่ต้องการ</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="mediprint"
                                                id="mediprint2" value="option2">
                                            <label class="form-check-label" for="mediprint2">ต้องการ</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-5">
                                        ประเภทการเข้ารับการรักษา :
                                    </div>
                                    <div class="col-md-8">
                                        <select v-model="selected" class="custom-select my-1 mr-sm-2">
                                            <option v-for="option in options" v-bind:value="option.value">
                                                [[option.text]]
                                            </option>
                                        </select>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
            </div>

            <!-- ทั่วไป -->
            <div class="col-md-5 ml-3 mt-5" v-if='selected=="A"'>
                <div class="row">
                    <div class="card w-100">
                        <h5 class="card-header">ลักษณะอาการเบื้องต้น</h5>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    อาการสำคัญ :
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="15"
                                        cols="4"></textarea>

                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-3">
                                    ประวัติปัจจุบัน :
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="13"
                                        cols="4"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- อาการผื่น -->
            <div class="col-md-5 ml-3 mt-5" v-if='selected=="A"'>
                <div class="row">
                    <div class="card w-100">
                        <h5 class="card-header">ลักษณะอาการเบื้องต้น : อาการผื่น</h5>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    อาการสำคัญ :
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="disabledTextInput">ผื่นบริเวณ</label>
                                        <input type="text" id="disabledTextInput" class="form-control"
                                            placeholder="ผื่นบริเวณ">
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledTextInput">เป็นมานาน (วัน)</label>
                                        <input type="number" id="disabledTextInput" class="form-control"
                                            placeholder="เป็นมานาน">
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledTextInput">สัมผัสโดน</label>
                                        <input type="text" id="disabledTextInput" class="form-control"
                                            placeholder="สัมผัสโดน">
                                    </div>



                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-3">
                                    อาการร่วม :
                                </div>
                                <div class="col-md-8 form-check-inline">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            คัน
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">
                                            ปวด
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                        <label class="form-check-label" for="defaultCheck3">
                                            เเสบ
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                                        <label class="form-check-label" for="defaultCheck4">
                                            ไข้
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                        <label class="form-check-label" for="defaultCheck5">
                                            บวม
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-3">
                                    PE :
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="6"
                                        cols="4"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- อุบัติเหตุ -->
            <div class="col-md-5 ml-3 mt-5" v-if='selected=="A"'>
                <div class="row">
                    <div class="card w-100">
                        <h5 class="card-header">ลักษณะอาการเบื้องต้น : อุบัติเหตุ</h5>

                        <div class="card-body">
                            <div class="row form-check-inline">
                                <div class="col-md-12">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="insurance" id="insurance1"
                                            value="true">
                                        <label class="form-check-label" for="insurance1">เบิกประกันอุบัติเหตุ</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="insurance" id="insurance2"
                                            value="false">
                                        <label class="form-check-label" for="insurance2">ไม่เบิกประกันอุบัติเหตุ</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    กรณีอุบัติเหตุจากยานพาหนะ :
                                </div>
                                <div class="col-md-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="safety" id="safety1"
                                            value="option1">
                                        <label class="form-check-label"
                                            for="safety1">สวมหมวกกันน็อค/คาดเข็มขัดนิรภัย</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="safety" id="safety2"
                                            value="option2">
                                        <label class="form-check-label"
                                            for="safety2">ไม่สวมหมวกกันน็อค/ไม่คาดเข็มขัดนิรภัย</label>
                                    </div>
                                </div>
                            </div>



                            <div class="row mt-5">
                                <div class="col-md-4">
                                    บาดเเผลบริเวณ
                                </div>
                                <div class="col-md-7">
                                    <input type="text" id="disabledTextInput" class="form-control"
                                        placeholder="บาดเเผลบริเวณ">
                                </div>
                            </div>
                            <div class="row mt-5">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">บาดเเผล</th>
                                            <th scope="col">บริเวณ</th>
                                            <th scope="col">ขนาด(ซ.ม)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1</th>
                                            <th><select class="custom-select">
                                                    <option value="1">ถลอก</option>
                                                    <option value="2">ฉีกขาด</option>
                                                    <option value="3">จากของมีคม</option>
                                                    <option value="3">อื่นๆ</option>
                                                </select></th>
                                            <td><input type="text" id="disabledTextInput" class="form-control"
                                                    placeholder="ผื่นบริเวณ"></td>
                                            <td class="form-inline">
                                                <input type="text" id="disabledTextInput" class="form-control col-md-4"
                                                    placeholder="กว้าง">
                                                <input type="text" id="disabledTextInput" class="form-control col-md-4"
                                                    placeholder="ยาว"></td>
                                        </tr>
                                        <tr>
                                            <th>2</th>
                                            <th><select class="custom-select">
                                                    <option value="1">ถลอก</option>
                                                    <option value="2">ฉีกขาด</option>
                                                    <option value="3">จากของมีคม</option>
                                                    <option value="3">อื่นๆ</option>
                                                </select></th>
                                            <td><input type="text" id="disabledTextInput" class="form-control"
                                                    placeholder="ผื่นบริเวณ"></td>
                                            <td class="form-inline">
                                                <input type="text" id="disabledTextInput" class="form-control col-md-4"
                                                    placeholder="กว้าง">
                                                <input type="text" id="disabledTextInput" class="form-control col-md-4"
                                                    placeholder="ยาว"></td>
                                        </tr>
                                        <tr>
                                            <th>3</th>
                                            <th><select class="custom-select">
                                                    <option value="1">ถลอก</option>
                                                    <option value="2">ฉีกขาด</option>
                                                    <option value="3">จากของมีคม</option>
                                                    <option value="3">อื่นๆ</option>
                                                </select></th>
                                            <td><input type="text" id="disabledTextInput" class="form-control"
                                                    placeholder="ผื่นบริเวณ"></td>
                                            <td class="form-inline">
                                                <input type="text" id="disabledTextInput" class="form-control col-md-4"
                                                    placeholder="กว้าง">
                                                <input type="text" id="disabledTextInput" class="form-control col-md-4"
                                                    placeholder="ยาว"></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="row mt-4">
                                <div class="col-md-5">
                                    วันที่เกิดเหตุ : <input type="date" name="date" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    สถานที่เกิดเหตุ : <input type="text" name="location" class="form-control">
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-6">
                                    การเจ็บป่วย/บาดเจ็บ ครั้งนี้ :
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="recured" id="recured1"
                                            value="true" checked>
                                        <label class="form-check-label" for="recured1">ไม่เคยรักษาที่ใดมาก่อน</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="recured" id="recured2"
                                            value="true">
                                        <label class="form-check-label" for="recured2">เคยรักษามาก่อน</label>
                                    </div>
                                    <div>
                                        ที่ : <input type="text" class="form-control"> เวลา : <input type="time"
                                            name="recured_time" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <!-- อุบัติเหตุต่อเนื่อง -->
            <div class="col-md-5 ml-3 mt-5" v-if='selected=="A"'>
                <div class="row">
                    <div class="card w-100">
                        <h5 class="card-header">ลักษณะอาการเบื้องต้น : อุบัติเหตุต่อเนื่อง</h5>

                        <div class="card-body">
                            <div class="row form-check-inline">
                                <div class="col-md-12">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="insurance" id="insurance1"
                                            value="true">
                                        <label class="form-check-label" for="insurance1">เบิกประกันอุบัติเหตุ</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="insurance" id="insurance2"
                                            value="false">
                                        <label class="form-check-label" for="insurance2">ไม่เบิกประกันอุบัติเหตุ</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6">
                                    ลักษณะบาดเเผล :
                                </div>
                                <div class="col-md-8 form-check-inline">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name='wound_good' value="worse"
                                            id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            เเย่ลง
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name='wound_good' value="same"
                                            id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">
                                            เท่าเดิม
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name='wound_good' value="better"
                                            id="defaultCheck3">
                                        <label class="form-check-label" for="defaultCheck3">
                                            ดีขึ้น
                                        </label>
                                    </div>
                                </div>
                            </div>



                            <div class="row mt-5">
                                <div class="col-md-3">
                                    คำเเนะนำ :
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="6"
                                        cols="4"></textarea>

                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-3">
                                    เพิ่มเติ่ม :
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="6"
                                        cols="4"></textarea>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>

            </div>

            <!-- ดวงตา -->
            <div class="col-md-5 ml-3 mt-5" v-if='selected=="A"'>
                <div class="row">
                    <div class="card w-100">
                        <h5 class="card-header">ลักษณะอาการเบื้องต้น : ดวงตา</h5>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    ประวัติปัจจุบัน :
                                </div>
                                <div class="col-md-8 ">
                                    <div class="d-flex flex-row bd-highlight mb-2">
                                        <div class=" bd-highlight">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="lefteye" id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    ตาซ้าย
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck3">
                                                <label class="form-check-label" for="defaultCheck3">
                                                    ปวดตา
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck5">
                                                <label class="form-check-label" for="defaultCheck5">
                                                    คันตา
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck4">
                                                <label class="form-check-label" for="defaultCheck4">
                                                    เจ็บหนังตา
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck3">
                                                <label class="form-check-label" for="defaultCheck3">
                                                    น้ำตาไหล
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck4">
                                                <label class="form-check-label" for="defaultCheck4">
                                                    ตาพร่ามัว
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck5">
                                                <label class="form-check-label" for="defaultCheck5">
                                                    สิ่งเเปลกปลอมเข้าดวงตา
                                                </label>
                                            </div>

                                        </div>

                                        <div class=" bd-highlight">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="righteye" id="defaultCheck2">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    ตาขวา
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck4">
                                                <label class="form-check-label" for="defaultCheck4">
                                                    เคืองตา
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck3">
                                                <label class="form-check-label" for="defaultCheck3">
                                                    ตาเเดง
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck5">
                                                <label class="form-check-label" for="defaultCheck5">
                                                    หนังตาบวม
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck5">
                                                <label class="form-check-label" for="defaultCheck5">
                                                    ขี้ตาเยอะ
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck4">
                                                <label class="form-check-label" for="defaultCheck4">
                                                    ขี้ตาเป็นหนอง
                                                </label>
                                            </div>


                                        </div>
                                    </div>



                                </div>
                            </div>
                        
                            <div class="row mt-5">
                                <div class="col-md-3">
                                    ตรวจร่างกาย :
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="6"
                                        cols="4"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

             <!-- อาการไข้ -->
             <div class="col-md-5 ml-3 mt-5" v-if='selected=="A"'>
                <div class="row">
                    <div class="card w-100">
                        <h5 class="card-header">ลักษณะอาการเบื้องต้น : อาการไข้</h5>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    อาการสำคัญ
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="d-flex flex-row bd-highlight mb-2">
                                        <div class="bd-highlight">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="lefteye" id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    ไข้
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck3">
                                                <label class="form-check-label" for="defaultCheck3">
                                                    ไอ
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck5">
                                                <label class="form-check-label" for="defaultCheck5">
                                                    น้ำมูก
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck4">
                                                <label class="form-check-label" for="defaultCheck4">
                                                    คันตา
                                                </label>
                                            </div>

                        
                                        </div>

                                        <div class=" bd-highlight ml-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="righteye" id="defaultCheck2">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    เบื่ออาหาร
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck4">
                                                <label class="form-check-label" for="defaultCheck4">
                                                    เสมหะ
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck3">
                                                <label class="form-check-label" for="defaultCheck3">
                                                    คัดจมูก
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck3">
                                                <label class="form-check-label" for="defaultCheck3">
                                                    คันจมูก
                                                </label>
                                            </div>


                                        </div>

                                        <div class="bd-highlight ml-4">

                                             <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck5">
                                                <label class="form-check-label" for="defaultCheck5">
                                                    ปวดเมื่อยตามตัว
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck5">
                                                <label class="form-check-label" for="defaultCheck5">
                                                    เจ็บคอ
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name='eye_symntoms'
                                                    value="" id="defaultCheck4">
                                                <label class="form-check-label" for="defaultCheck4">
                                                    ปวดศีรษะ
                                                </label>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        
                            <div class="row mt-5">
                                <div class="col-md-3">
                                    ตรวจร่างกาย :
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="6"
                                        cols="4"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <!-- เเพทย์ -->
            <div class="col-md-11 mt-3 ml-2">
                <div class="row">
                    <div class="card w-100">
                        <h5 class="card-header">คำวินิจฉัย(ผื่น) โดย นพ.xxxx xxxxx <a href="#"
                                class="btn btn-info btn-sm" style="">สร้างใบสั่งยา</a></h5>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    อาการสำคัญ :
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="disabledTextInput">ผื่นบริเวณ</label>
                                        <input type="text" id="disabledTextInput" class="form-control"
                                            placeholder="ผื่นบริเวณ">
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledTextInput">เป็นมานาน</label>
                                        <input type="text" id="disabledTextInput" class="form-control"
                                            placeholder="เป็นมานาน">
                                    </div>



                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-3">
                                    คำเเนะนำ :
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="13"
                                        cols="4"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <div class="col-md-11 mt-3 ml-2">
                <div class="row">
                    <div class="card w-100">
                        <h5 class="card-header">ใบสั่งยา</h5>

                        <div class="card-body" style='color:red'>
                            สร้างใบสั่งยาตรงนี้
                        </div>

                    </div>
                </div>
            </div>

            <hr class="mb-4">
            <a class="btn btn-success btn-lg btn-block col-md-11 ml-2 mt-2"
                href="{% url 'create_diagnosis' 1 %}">ยืนยัน</a>
        </div>
        </form>


    </div>

    </div>

</main>
{% endblock %}
{% block footer %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            selected: 'A',
            options: [
                { text: 'ทั่วไป', value: 'A' },
                { text: 'ผิวหนัง', value: 'B' },
                { text: 'อุบัติเหตุ', value: 'C' },
                { text: 'ดวงตา', value: 'D' },
                { text: 'อาการไข้', value: 'E' },
                { text: 'ท้องเสีย', value: 'F' },
                { text: 'อาการปวดทุกเเห่ง', value: 'G' }
            ]
        }
    })
</script>

{% endblock %}