<!-- ทั่วไป -->
<div class="col-md-5 ml-3 mt-5" v-if='selected=="non_form"'>
    <div class="row">
        <div class="card w-100">
            <h5 class="card-header">ลักษณะอาการเบื้องต้น</h5>
            {{ spec_form.non_form.non_field_errors }}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        {{ spec_form.non_form.important_symptom.errors }}
                        {{ spec_form.non_form.important_symptom.label_tag }}
                    </div>
                    <div class="col-md-8">
                        {{ spec_form.non_form.important_symptom }}

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        {{ spec_form.non_form.important_symptom.errors }}
                        {{ spec_form.non_form.current_history.label_tag }}
                    </div>
                    <div class="col-md-8">
                        {{ spec_form.non_form.current_history }}
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- อาการผื่น -->
<div class="col-md-5 ml-3 mt-5" v-if='selected=="skin"'>
    <div class="row">
        <div class="card w-100">
            <h5 class="card-header">ลักษณะอาการเบื้องต้น : อาการผื่น</h5>
            {{ spec_form.rash_form.non_field_errors }}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        อาการสำคัญ :
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            {{ spec_form.rash_form.rash_area.label_tag }}
                            {{ spec_form.rash_form.rash_area }}
                            {{ spec_form.rash_form.rash_area.errors }}

                        </div>
                        <div class="form-group">
                            {{ spec_form.rash_form.rash_date.label_tag }}
                            {{ spec_form.rash_form.rash_date }}
                            {{ spec_form.rash_form.rash_date.errors }}
                        </div>
                        <div class="form-group">
                            {{ spec_form.rash_form.rash_detail.label_tag }}
                            {{ spec_form.rash_form.rash_detail }}
                            {{ spec_form.rash_form.rash_detail.errors }}
                        </div>

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        อาการร่วม :
                    </div>
                    <div class="col-md-8 form-check-inline">
                        <div class="form-check">
                            {{ spec_form.rash_form.itch }}
                            {{ spec_form.rash_form.itch.label_tag }}
                        </div>
                        <div class="form-check">
                            {{ spec_form.rash_form.pain }}
                            {{ spec_form.rash_form.pain.label_tag }}
                            </label>
                        </div>
                        <div class="form-check">
                            {{ spec_form.rash_form.sting }}
                            {{ spec_form.rash_form.sting.label_tag }}
                        </div>
                        <div class="form-check">
                            {{ spec_form.rash_form.fever }}
                            {{ spec_form.rash_form.fever.label_tag }}
                        </div>
                        <div class="form-check">
                            {{ spec_form.rash_form.swell }}
                            {{ spec_form.rash_form.swell.label_tag }}
                        </div>

                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-3">
                        {{ spec_form.rash_form.pe.label_tag }}
                    </div>
                    <div class="col-md-8">
                        {{ spec_form.rash_form.pe }}
                        {{ spec_form.rash_form.pe.error }}

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- อุบัติเหตุ -->
<div class="col-md-5 ml-3 mt-5" v-if='selected=="accident"'>
    <div class="row">
        <div class="card w-100">
            <h5 class="card-header">ลักษณะอาการเบื้องต้น : อุบัติเหตุ</h5>
            {{ spec_form.wound_form.non_field_errors }}
            <div class="card-body">
                <div class="row form-check-inline">
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            {{ spec_form.wound_form.emergency }}
                            {{ spec_form.wound_form.emergency.label_tag }}
                        </div>
                        <div class="form-check form-check-inline">
                            {{ spec_form.wound_form.insurance }}
                            {{ spec_form.wound_form.insurance.label_tag }}
                        </div>

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        กรณีอุบัติเหตุจากยานพาหนะ :
                    </div>
                    <div class="col-md-8">
                        <div class="form-check form-check-inline">
                            {{ spec_form.wound_form.is_safety }}
                            {{ spec_form.wound_form.is_safety.label_tag }}
                        </div>
                    </div>
                </div>



                <div class="row mt-5">
                    <div class="col-md-4">
                        {{ spec_form.wound_form.wound_area.label_tag }}
                    </div>
                    <div class="col-md-7">
                        {{ spec_form.wound_form.wound_area }}
                        {{ spec_form.wound_form.wound_area.error }}
                    </div>
                </div>

                <div class="row mt-5">
                    <form method="POST">
                        {% csrf_token %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">บาดเเผล</th>
                                    <th scope="col">บริเวณ</th>
                                    <th scope="col">ขนาด(ซ.ม)</th>
                                </tr>
                            </thead>

                            
                            <tbody>
                                {{ formset.management_form }}
                                {% for form in formset %}
                                <tr>
                                    <th>{{form.lesion_type}}</th>
                                    <td>{{form.lesion_area}}
                                    <td class="form-inline">
                                        {{form.lesion_x}}
                                        {{form.lesion_y}}
                                    </td>
                                </tr>
                                {% endfor%}
                            </tbody>



                        </table>
                        <input type="submit">

                </div>
                </form>
                <div class="row mt-4">
                    <div class="col-md-5">
                        {{ spec_form.wound_form.wound_date.label_tag }} {{ spec_form.wound_form.wound_date }}
                        {{ spec_form.wound_form.wound_date.error }}
                    </div>
                    <div class="col-md-5">
                        {{ spec_form.wound_form.wound_locale.label_tag }} {{ spec_form.wound_form.wound_locale }}
                        {{ spec_form.wound_form.wound_locale.error }}
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-5">
                        การเจ็บป่วย/บาดเจ็บ ครั้งนี้
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-check-inline">
                            {{ spec_form.wound_form.is_treat_before }}
                            {{ spec_form.wound_form.is_treat_before.label_tag }}
                        </div>
                        <div>
                            {{ spec_form.wound_form.treatment_before_detail.label_tag }}
                            {{ spec_form.wound_form.treatment_before_detail }}
                            {{ spec_form.wound_form.treatment_before_detail.error }}
                            <div>
                                {{ spec_form.wound_form.time.label_tag }}
                                {{ spec_form.wound_form.time }}
                                {{ spec_form.wound_form.time.error }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- อุบัติเหตุต่อเนื่อง -->
<div class="col-md-5 ml-3 mt-5" v-if='selected=="con_accident"'>
    <div class="row">
        <div class="card w-100">
            <h5 class="card-header">ลักษณะอาการเบื้องต้น : อุบัติเหตุต่อเนื่อง</h5>
            {{ spec_form.con_wound_form.non_field_errors }}
            <div class="card-body">
                <div class="row form-check-inline">
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            {{ spec_form.con_wound_form.insurance }}
                            {{ spec_form.con_wound_form.insurance.label_tag }}
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        {{ spec_form.con_wound_form.detail.label_tag }}
                    </div>
                    <div class="col-md-8 form-check-inline">
                        {% for radio in spec_form.con_wound_form.detail %}
                        <div class="form-check">
                            <span class="radio">{{ radio.tag }}</span>
                            <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                        </div>

                        {% endfor %}
                    </div>
                </div>



                <div class="row mt-5">
                    <div class="col-md-3">
                        {{ spec_form.con_wound_form.advice.label_tag }}
                    </div>
                    <div class="col-md-8">
                        {{ spec_form.con_wound_form.advice }}
                        {{ spec_form.con_wound_form.advice.error }}

                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-3">
                        {{ spec_form.con_wound_form.more.label_tag }}
                    </div>
                    <div class="col-md-8">
                        {{ spec_form.con_wound_form.more }}
                        {{ spec_form.con_wound_form.more.error }}

                    </div>
                </div>



            </div>
        </div>
    </div>

</div>

<!-- ดวงตา -->
<div class="col-md-5 ml-3 mt-5" v-if='selected=="eyes"'>
    <div class="row">
        <div class="card w-100">
            <h5 class="card-header">ลักษณะอาการเบื้องต้น : ดวงตา</h5>
            {{ spec_form.eye_form.non_field_errors }}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        ประวัติปัจจุบัน :
                    </div>
                    <div class="col-md-8 ">
                        <div class="d-flex flex-row bd-highlight mb-2">
                            <div class=" bd-highlight">
                                <div class="form-check">
                                    {{ spec_form.eye_form.left }}
                                    {{ spec_form.eye_form.left.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.eye_form.pain }}
                                    {{ spec_form.eye_form.pain.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.eye_form.itch }}
                                    {{ spec_form.eye_form.itch.label_tag }}
                                </div>
                                <div class="form-check">
                                    {{ spec_form.eye_form.sore }}
                                    {{ spec_form.eye_form.sore.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.eye_form.tear }}
                                    {{ spec_form.eye_form.tear.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.eye_form.blurred }}
                                    {{ spec_form.eye_form.blurred.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.eye_form.matter }}
                                    {{ spec_form.eye_form.matter.label_tag }}
                                </div>

                            </div>

                            <div class=" bd-highlight">
                                <div class="form-check">
                                    {{ spec_form.eye_form.right }}
                                    {{ spec_form.eye_form.right.label_tag }}
                                </div>
                                <div class="form-check">
                                    {{ spec_form.eye_form.irritation }}
                                    {{ spec_form.eye_form.irritation.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.eye_form.conjunctivitis }}
                                    {{ spec_form.eye_form.conjunctivitis.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.eye_form.swoll }}
                                    {{ spec_form.eye_form.swoll.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.eye_form.gum }}
                                    {{ spec_form.eye_form.gum.label_tag }}
                                </div>
                                <div class="form-check">
                                    {{ spec_form.eye_form.purulent }}
                                    {{ spec_form.eye_form.purulent.label_tag }}
                                </div>


                            </div>
                        </div>



                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-3">
                        {{ spec_form.eye_form.check_up.label_tag }}
                    </div>
                    <div class="col-md-8">
                        {{ spec_form.eye_form.check_up }}
                        {{ spec_form.eye_form.check_up.error }}

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- อาการไข้ -->
<div class="col-md-5 ml-3 mt-5" v-if='selected=="fever"'>
    <div class="row">
        <div class="card w-100">
            <h5 class="card-header">ลักษณะอาการเบื้องต้น : อาการไข้</h5>
            {{ spec_form.fever_form.non_field_errors }}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        อาการสำคัญ
                    </div>
                    <div class="col-md-8 p-0">
                        <div class="d-flex flex-row bd-highlight mb-2">
                            <div class="bd-highlight">
                                <div class="form-check">
                                    {{ spec_form.fever_form.left }}
                                    {{ spec_form.fever_form.left.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.fever_form.cough }}
                                    {{ spec_form.fever_form.cough.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.fever_form.snot }}
                                    {{ spec_form.fever_form.snot.label_tag }}
                                </div>
                                <div class="form-check">
                                    {{ spec_form.fever_form.eye_itch }}
                                    {{ spec_form.fever_form.eye_itch.label_tag }}
                                </div>


                            </div>

                            <div class=" bd-highlight ml-3">
                                <div class="form-check">
                                    {{ spec_form.fever_form.food_bored }}
                                    {{ spec_form.fever_form.food_bored.label_tag }}
                                </div>
                                <div class="form-check">
                                    {{ spec_form.fever_form.phlegm }}
                                    {{ spec_form.fever_form.phlegm.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.fever_form.stuffy }}
                                    {{ spec_form.fever_form.stuffy.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.fever_form.eye_itch }}
                                    {{ spec_form.fever_form.eye_itch.label_tag }}
                                </div>


                            </div>

                            <div class="bd-highlight ml-4">

                                <div class="form-check">
                                    {{ spec_form.fever_form.body_aches }}
                                    {{ spec_form.fever_form.body_aches.label_tag }}
                                </div>

                                <div class="form-check">
                                    {{ spec_form.fever_form.sore_throat }}
                                    {{ spec_form.fever_form.sore_throat.label_tag }}
                                </div>
                                <div class="form-check">
                                    {{ spec_form.fever_form.headache }}
                                    {{ spec_form.fever_form.headache.label_tag }}
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-3">
                        ประวัติปัจจุบัน :
                    </div>
                    <div class="col-md-8">
                        <div class="form-check">
                            {{ spec_form.fever_form.injected_pharynx }}
                            {{ spec_form.fever_form.injected_pharynx.label_tag }}
                        </div>

                        <div class="form-check">
                            {{ spec_form.fever_form.exudates }}
                            {{ spec_form.fever_form.exudates.label_tag }}
                        </div>
                        <div class="form-check">
                            {{ spec_form.fever_form.lungs }}
                            {{ spec_form.fever_form.lungs.label_tag }}
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-3">
                        {{ spec_form.fever_form.more.label_tag }}
                    </div>
                    <div class="col-md-8">

                        {{ spec_form.fever_form.more }}
                        {{ spec_form.fever_form.more.error }}

                    </div>
                </div>





            </div>
        </div>
    </div>

</div>

<!-- ท้องเสีย, ช่องท้อง -->
<div class="col-md-5 ml-3 mt-5" v-if='selected=="diarrhea"'>
    <div class="row">
        <div class="card w-100">
            <h5 class="card-header">ลักษณะอาการเบื้องต้น : ท้องเสีย, ช่องท้อง</h5>
            {{ spec_form.diarrhea_form.non_field_errors }}
            <div class="card-body">


                <div class="row">
                    <div class="col-md-3">
                        อาการสำคัญ
                    </div>
                    <div class="col-md-8 p-0">
                        <div class="row form-check">
                            <div class="col-md-12">
                                <div class="form-check">
                                    {{ spec_form.diarrhea_form.fever }}
                                    {{ spec_form.diarrhea_form.fever.label_tag }}
                                </div>
                                <div class="form-check">
                                    {{ spec_form.diarrhea_form.vomit }}
                                    {{ spec_form.diarrhea_form.vomit.label_tag }}
                                </div>
                                <div class="form-check">
                                    {{ spec_form.diarrhea_form.flux_stool }}
                                    {{ spec_form.diarrhea_form.flux_stool.label_tag }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        {{ spec_form.diarrhea_form.diarrhea_amount.label_tag }}
                    </div>
                    <div class="col-md-6">

                        {{ spec_form.diarrhea_form.diarrhea_amount }}
                        {{ spec_form.diarrhea_form.diarrhea_amount.error }}

                    </div>


                </div>

                <div class="row mt-5">
                    <div class="col-md-6">
                        {{ spec_form.diarrhea_form.diarrhea_detail.label_tag }}
                    </div>
                    <div class="col-md-6">

                        {{ spec_form.diarrhea_form.diarrhea_detail }}
                        {{ spec_form.diarrhea_form.diarrhea_detail.error }}

                    </div>


                </div>

                <div class="row mt-5">
                    <div class="col-md-6">
                        {{ spec_form.diarrhea_form.stomachache.label_tag }}
                    </div>
                    <div class="col-md-6">

                        {{ spec_form.diarrhea_form.stomachache }}
                        {{ spec_form.diarrhea_form.stomachache.error }}

                    </div>


                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        {{ spec_form.diarrhea_form.bowel_sound.label_tag }}
                    </div>
                    <div class="col-md-6">

                        {{ spec_form.diarrhea_form.bowel_sound }}
                        {{ spec_form.diarrhea_form.bowel_sound.error }}

                    </div>


                </div>

                <div class="row mt-5">
                    <div class="col-md-4">
                        {{ spec_form.diarrhea_form.current_history.label_tag }}
                    </div>
                    <div class="col-md-8">

                        {{ spec_form.diarrhea_form.current_history }}
                        {{ spec_form.diarrhea_form.current_history.error }}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ปวดในทุกตำเเหน่ง -->
<div class="col-md-5 ml-3 mt-5" v-if='selected=="pain"'>
    <div class="row">
        <div class="card w-100">
            <h5 class="card-header">ลักษณะอาการเบื้องต้น : ปวดในทุกตำเเหน่ง</h5>
            {{ spec_form.pain_form.non_field_errors }}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        ประวัติปัจจุบัน :
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            {{ spec_form.pain_form.bodyache_area.label_tag }}
                            {{ spec_form.pain_form.bodyache_area }}
                            {{ spec_form.pain_form.bodyache_area.error }}
                        </div>
                        <div class="form-group">
                            {{ spec_form.pain_form.bodyache_date.label_tag }}
                            {{ spec_form.pain_form.bodyache_date }}
                            {{ spec_form.pain_form.bodyache_date.error }}
                        </div>
                        <div class="form-group">
                            {{ spec_form.pain_form.pain_score.label_tag }}
                            {{ spec_form.pain_form.pain_score }}
                            {{ spec_form.pain_form.pain_score.error }}
                        </div>

                        <div class="form-group">
                            {{ spec_form.pain_form.ache_detail.label_tag }}
                            {{ spec_form.pain_form.ache_detail }}
                            {{ spec_form.pain_form.ache_detail.error }}
                        </div>
                        <div class="form-group">
                            {{ spec_form.pain_form.trigger.label_tag }}
                            {{ spec_form.pain_form.trigger }}
                            {{ spec_form.pain_form.trigger.error }}
                        </div>
                        <div class="form-group">
                            {{ spec_form.pain_form.crack.label_tag }}
                            {{ spec_form.pain_form.crack }}
                            {{ spec_form.pain_form.crack.error }}
                        </div>
                        <div class="form-group">
                            {{ spec_form.pain_form.others.label_tag }}
                            {{ spec_form.pain_form.others }}
                            {{ spec_form.pain_form.others.error }}
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>

</div>