{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <div class="container mt-3 mb-5">
        <div class="row" id='app'>
            <div class="col-md-10">
                {% include "messages.html" %}
                <h2 class="mb-2">ห้องตรวจ 1</h2>
                
                <form class="needs-validation" novalidate=""></form>
                <!-- ROWS OF PATIENT INFORMATION -->
                <div class="row">

                    <div class="card w-100" v-for='(item, index) in queue'>
                        <h5 class="card-header">คิวที่ #[[index+1]] CN:[[ item.treatment.cn ]]</h5>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">[[ item.treatment.patient_p_id.fname ]] [[ item.treatment.patient_p_id.lname ]] </h5>
                                    <p class="card-text">เกิด [[ item.treatment.patient_p_id.birth_day ]] กลุ่มเลือด [[ item.treatment.patient_p_id.blood_type ]]</p>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="card-title">สถานะ</h5>
                                    <p class="card-text">[[ item.status ]]</p>

                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-success btn-lg btn-sm col-md-10 ml-2 mt-2"
                                    :href='"/treatment/create/"+item.treatment.cn+"/diagnosis/" || ""'>เข้าตรวจ</a>
                                   
                                </div>
                            </div>

                        </div>
                    </div>

                    

                </div>
            </div>

            <hr class="mb-4">
        </div>


        </form>


    </div>

    </div>

</main>
{% endblock %}
{% block footer %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            queue: [],
            selected: 'A',
            options: [
                { text: 'ทั่วไป', value: 'A' },
                { text: 'ผิวหนัง', value: 'B' },
                { text: 'อุบัติเหตุ', value: 'C0' },
                { text: 'อุบัติเหตุต่อเนื่อง', value: 'C1' },
                { text: 'ดวงตา', value: 'D' },
                { text: 'อาการไข้', value: 'E' },
                { text: 'ท้องเสีย', value: 'F' },
                { text: 'อาการปวดทุกเเห่ง', value: 'G' }
            ]
        }, methods: {
            get_queue: function () {
                let self = this;
                axios.get('/treatment/queue/api/', {

                }).then(function (response) {
                    console.log(response.data);
                    self.queue = response.data
                }).catch(function (error) {
                    console.log(error);
                });

            }
        }, created(){
            this.get_queue()
        }
    })
</script>

{% endblock %}