{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <div class="container mt-3 mb-5">
        <div class="row" id='app'>
            <div class="col-md-10">
                <h2 class="mb-2">ค้นหาประวัติการรักษา</h2>
                <div class="input-group mb-3">

                    <div class="input-group-append">
                        <select class="custom-select" id="inputGroupSelect02">
                            <option selected>ทั้งหมด</option>
                            <option value="1">ชื่อ-นามสกุล</option>
                            <option value="2">รหัสบัตรประชาชน</option>
                            <option value="3">เบอร์โทรศัพท์</option>
                            <option value="3">รหัสประจำตัว</option>

                        </select>
                    </div>


                    <div class="input-group-append w-50">
                        <input type="text" class="form-control" placeholder="คำค้นหา" aria-label="Recipient's username"
                            aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit">ค้นหา</button>
                    </div>
                </div>

                <!-- ROWS OF PATIENT INFORMATION -->
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-8">
                จำนวนผลลัพธ์ที่พบ : 25 ผลลัพธ์
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">

                <div class="card w-100 mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <h5 class="card-title">นายสหัสวรรษ ขันรักษา (นักศึกษา)</h5>
                                <p class="card-text">เลขประจำตัวประชาชน : 110-111-151-1254</p>
                                <p class="card-text">อายุ 18 ปี 6 เดือน กลุ่มเลือด A</p>
                            </div>

                            <div class="col-md-3">
                                <button class="btn btn-success btn-sm mb-2" type="submit">สร้างการรักษา</button>
                                <button class="btn btn-info btn-sm" type="submit">ข้อมูลเพิ่มเติม</button>
                            </div>
                        </div>
                    </div>
                </div>







            </div>
        </div>


        </form>


    </div>

    </div>

</main>
{% endblock %}
{% block footer %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            selected: 'A',
            options: [
                { text: 'ทั่วไป', value: 'A' },
                { text: 'ผิวหนัง', value: 'B' },
                { text: 'อุบัติเหตุ', value: 'C0' },
                { text: 'อุบัติเหตุต่อเนื่อง', value: 'C1' },
                { text: 'ดวงตา', value: 'D' },
                { text: 'อาการไข้', value: 'E' },
                { text: 'ท้องเสีย', value: 'F' },
                { text: 'อาการปวดทุกเเห่ง', value: 'G' }
            ]
        }
    })
</script>

{% endblock %}