{% extends "base.html" %}
{% load static %}

{% block scripts %}
{% endblock %}

{% block styles %}
    {% endblock %}
  
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Patient</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
      </div>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>สร้างผู้ป่วยใหม่</h2>
            <p>สำหรับลงทะเบียนผู้ป่วยที่เข้ามาใช้บริการครั้งเเรก เพื่อบันทึกข้อมูลส่วนบุคคลของผู้ที่เข้ารับการรักษา</p>
            <p><a class="btn btn-success" href="{% url 'create_patient'%}" role="button">สร้าง »</a></p>
          </div>
          <div class="col-md-4">
            <h2>ผู้ป่วยเก่าเข้ารับการรักษา</h2>
            <p> </p>
            <p><a class="btn btn-success" href="#" role="button">สร้างประวัติการรักษา »</a></p>
          </div>
          <div class="col-md-4">
            <h2>ค้นหาผู้ป่วย</h2>
            <p></p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
        </div>

        <hr>

      </div>
</main>
{% endblock %}

{% block footer %}

{% endblock %}